In [1]:
import pymysql
import numpy as np
import pandas as pd

conn = pymysql.connect(host='192.168.1.245',
                      user='root', port=3306, password='hyeon0318!',db='acornschool',
                      charset='utf8mb4', use_unicode=True,
                      cursorclass=pymysql.cursors.DictCursor)


cur = conn.cursor()
cursor = conn.cursor()

In [2]:
import requests # 웹페이지 획득(웹브라우저)
import pandas as pd
from bs4 import BeautifulSoup
import re
class HTMLTableParser:
    def parse_url(self, url): # url 받는다.
        response = requests.get(url)
        # html tag를 파싱해서 계층적데이터 보유
        soup = BeautifulSoup(response.text,'html.parser')
        # html태그 id(웹페이지에서 유일), name(중복, 서버)
        return [(table('id'), self.parse_html_table(table)) for table in soup.find_all('table')]

    
    def parse_html_table(self, table): # table을 받는다.
        n_columns = 0 # 몇열 => 저장공간확보
        n_rows=0 # 몇행인지
        column_names = [] # 열이름 저장
        for row in table.find_all('tr'):
            td_tags = row.find_all('td')
            if len(td_tags) > 0:
                n_rows += 1 # 행수 카운트
                if n_columns == 0: # 첫행이면
                    n_columns = len(td_tags) # 열개수 결정
            th_tags = row.find_all('th')
            
            # column_name 처음이면
            if len(th_tags) > 0 and len(column_names)==0:
                for th in th_tags:
                    column_names.append(th.get_text()) # 이름 가져오기
        # 에러 표시
        if len(column_names)>0 and len(column_names) != n_columns:
            # 강제로 예외발생
            raise Exception('컬럼 타이틀 털럼 숫자와 안맞음')
            
        columns = column_names if len(column_names) > 0 else range(0,n_columns) # 문자로, 숫자로 주고
        
        df = pd.DataFrame(columns = columns, index=range(0,n_rows)) # 저장공간확보
        
        row_marker =0 # 행수에 따라
        for row in table.find_all('tr'):
            columns_marker=0 # 열수에 따라
            columns = row.find_all('td')
            for column in columns:
                re_text=column.get_text().replace('\n','')
                re_text=re_text.replace('\t','')
                re_text=re_text.replace('\r','')
                df.iloc[row_marker,columns_marker]=re_text
                columns_marker +=1
                
            if len(columns) > 0: #데이터가 있다면 
                row_marker +=1 # 행추가
                
        for col in df: # 채워진 데이터에서 
            try:
                df[col] = df[col].astype(float) # 숫자형으로 변경
            except ValueError:
                pass # 숫자가 아닌 문자형은 그냥 넘어가라 
        return df

In [3]:
from sqlalchemy import create_engine
import pymysql
import seaborn as sns
pymysql.install_as_MySQLdb()
import MySQLdb
engine=create_engine('mysql+mysqldb://root:'+'hyeon0318!'+'@192.168.1.245/acornschool',
                    encoding='utf-8')
conn=engine.connect()

In [12]:
# date = "2020.01.03"
# url_part1 = """http://dart.fss.or.kr/dsac001/search.ax?selectDate="""
# url_part2 = """&sort=&series=&mdayCnt=0&currentPage="""


# url2 = 'https://section.blog.naver.com/BlogHome.nhn?directoryNo=0&currentPage=1&groupId=0'



url2 = 'https://news.naver.com/main/list.nhn?mode=LS2D&mid=shm&sid2=230&sid1=105&date=20200107'

url = url_part1 + date + url_part2
hp = HTMLTableParser()
table = hp.parse_url(url2)[0][1]
table

,0,1,2
0,IT/과학모바일 인터넷/SNS 통신/뉴미디어 IT 일반 선택됨보안/해킹 컴퓨터 게임...,"IT 일반 와디즈벤처스, 사회적 기업 업드림코리아 투자라이프스타일 투자플랫폼 와디즈...",가장 많이 본 뉴스 정치 경제 사회 생활/문화 세계 IT/과학 정치1 [속보] 이낙...

In [13]:
table.to_sql(name='news',con=engine,if_exists='replace',index=False)

In [14]:
SQL = 'select * from news'
df = pd.read_sql(SQL, conn)
df

,0,1,2
0,IT/과학모바일 인터넷/SNS 통신/뉴미디어 IT 일반 선택됨보안/해킹 컴퓨터 게임...,"IT 일반 와디즈벤처스, 사회적 기업 업드림코리아 투자라이프스타일 투자플랫폼 와디즈...",가장 많이 본 뉴스 정치 경제 사회 생활/문화 세계 IT/과학 정치1 [속보] 이낙...