# 숫제 : 서울소재 10개 대학의 좌표를 출력해보시오

In [1]:
in_seoul = [
[37.460031, 126.951911],
[37.566461, 127.044850],
[37.588457, 126.993595],
[37.551225, 126.941013],
[37.565997, 126.938175],
[37.591046, 127.027885],
[37.505318, 126.957112],
[37.560003, 126.945469],
[37.596391, 127.052587],
[37.546560, 126.964831]]

name = ['서울대','한양대', '성균관대','서강대','연세대','고려대','중앙대','이화여대','경희대','숙명대']

import folium
map_2=folium.Map(location=[37.565711,126.978090],zoom_start=11)

for i in range(len(name)):
    folium.Marker(in_seoul[i], popup=name[i],icon=folium.Icon(icon='cloud')).add_to(map_2)
map_2

In [2]:
# 문제 다음 데이터를 데이터프레임에 저장하시요
#         지역  2018     2017   2016    2015     2015-2018 증가율
# 서울 수도권  9904312 9631482 9762546 9853972    0.0283
# 부산 경상권  3448737 3393191 3512547 3655437    0.0163
# 인천 수도권  2890451 2632035 2517680 2466338    0.0982
# 대구 경상권  2466052 2431774 2456016 2473990    0.0141

In [4]:
import pandas as pd
data = {'지역' : ['수도권','경상권','수도권','경상권'],
           '2018' : [9904312,3448737,2890451,2466052],
           '2017' : [9631482,3393191,2632035,2431774],
           '2016' : [9762546,3512547,2517680,2456016],
           '2015' : [9853972,3655437,2466338,2473990],
           '2015-2018 증가율' : [0.0283,0.0163,0.0982,0.0141]}
frame = pd.DataFrame(data,columns = ['지역','2015','2016','2017','2018','2015-2018 증가율'],index = ['서울','부산','인천','데구'])
frame

     지역     2015     2016     2017     2018  2015-2018 증가율
서울  수도권  9853972  9762546  9631482  9904312         0.0283
부산  경상권  3655437  3512547  3393191  3448737         0.0163
인천  수도권  2466338  2517680  2632035  2890451         0.0982
데구  경상권  2473990  2456016  2431774  2466052         0.0141

In [5]:
# 문제 : 2015-2018 증가율을 %로 변경
# 문제 : 2015-2017의 증가율을 구해서 변수를 추가
# 열이름:2015-2017등가율

In [6]:
frame['2015-2018 증가율'] = (frame['2018']-frame['2015'])/frame['2015']
frame

     지역     2015     2016     2017     2018  2015-2018 증가율
서울  수도권  9853972  9762546  9631482  9904312       0.005109
부산  경상권  3655437  3512547  3393191  3448737      -0.056546
인천  수도권  2466338  2517680  2632035  2890451       0.171961
데구  경상권  2473990  2456016  2431774  2466052      -0.003209

In [7]:
frame['2015-2018 증가율'] = frame['2015-2018 증가율']*100
frame

     지역     2015     2016     2017     2018  2015-2018 증가율
서울  수도권  9853972  9762546  9631482  9904312       0.510860
부산  경상권  3655437  3512547  3393191  3448737      -5.654591
인천  수도권  2466338  2517680  2632035  2890451      17.196062
데구  경상권  2473990  2456016  2431774  2466052      -0.320858

In [8]:
frame['2015-2017증가율'] = (frame['2017']-frame['2015'])/frame['2015']
frame

     지역     2015     2016     2017     2018  2015-2018 증가율  2015-2017증가율
서울  수도권  9853972  9762546  9631482  9904312       0.510860     -0.022579
부산  경상권  3655437  3512547  3393191  3448737      -5.654591     -0.071741
인천  수도권  2466338  2517680  2632035  2890451      17.196062      0.067183
데구  경상권  2473990  2456016  2431774  2466052      -0.320858     -0.017064