In [22]:
import pymysql

conn = pymysql.connect(host ='localhost', user='root', password='ehdgus2',
                      db='parking', charset='utf8', cursorclass=pymysql.cursors.DictCursor)

curs = conn.cursor()

sql = 'select * from car'
curs.execute(sql)

row = curs.fetchall()

for r in row:
    print()
    print(r)

conn.close()

{'id': 1, 'car_num': '00가0000', 'name': '김철수', 'enroll': 'O', 'type': '중형', 'parking': 'O', 'in_time': datetime.datetime(2019, 8, 8, 13, 30), 'out_time': None}

{'id': 2, 'car_num': '01가0001', 'name': '이상형', 'enroll': 'O', 'type': '중형', 'parking': 'O', 'in_time': datetime.datetime(2019, 8, 8, 13, 30), 'out_time': None}

{'id': 3, 'car_num': '03가0003', 'name': '김반차', 'enroll': 'X', 'type': '준중형', 'parking': 'O', 'in_time': datetime.datetime(2019, 8, 4, 15, 20, 45), 'out_time': None}

{'id': 4, 'car_num': '04가0004', 'name': '내차키', 'enroll': 'X', 'type': '대형', 'parking': 'X', 'in_time': datetime.datetime(2018, 6, 6, 7, 45, 30), 'out_time': datetime.datetime(2018, 6, 6, 12, 50, 34)}

{'id': 5, 'car_num': '00가1004', 'name': '김천사', 'enroll': 'O', 'type': '소형', 'parking': 'O', 'in_time': datetime.datetime(1004, 10, 4, 0, 10, 4), 'out_time': None}

{'id': 6, 'car_num': '02가0002', 'name': '내월차', 'enroll': 'X', 'type': '소형', 'parking': 'X', 'in_time': datetime.datetime(2012, 2, 20, 2, 2, 20), 'out_time': datetime.datetime(2012, 3, 30, 3, 3, 3)}

{'id': 7, 'car_num': '81오6247', 'name': '이현명', 'enroll': 'O', 'type': '대형', 'parking': 'X', 'in_time': datetime.datetime(2015, 11, 21, 1, 5), 'out_time': datetime.datetime(2020, 1, 4, 17, 9, 18)}

{'id': 10, 'car_num': '18야1818', 'name': '흠하하', 'enroll': 'X', 'type': '소형', 'parking': None, 'in_time': datetime.datetime(2818, 8, 18, 8, 28, 18), 'out_time': datetime.datetime(2828, 8, 18, 8, 28, 18)}

In [41]:
conn = pymysql.connect(host ='localhost', user='root', password='ehdgus2',
                      db='parking', charset='utf8', cursorclass=pymysql.cursors.DictCursor)

curs = conn.cursor()

In [42]:
curs.callproc('car_select')

for result in curs:
    print(result)
# curs.execute(sql)
# row = curs.fetchall()
# for i in row:
#     print(i)

{'id': 1, 'car_num': '00가0000', 'name': '김철수', 'enroll': 'O', 'type': '중형', 'parking': 'O', 'in_time': datetime.datetime(2019, 8, 8, 13, 30), 'out_time': None}
{'id': 2, 'car_num': '01가0001', 'name': '이상형', 'enroll': 'O', 'type': '중형', 'parking': 'O', 'in_time': datetime.datetime(2019, 8, 8, 13, 30), 'out_time': None}
{'id': 3, 'car_num': '03가0003', 'name': '김반차', 'enroll': 'X', 'type': '준중형', 'parking': 'O', 'in_time': datetime.datetime(2019, 8, 4, 15, 20, 45), 'out_time': None}
{'id': 4, 'car_num': '04가0004', 'name': '내차키', 'enroll': 'X', 'type': '대형', 'parking': 'X', 'in_time': datetime.datetime(2018, 6, 6, 7, 45, 30), 'out_time': datetime.datetime(2018, 6, 6, 12, 50, 34)}
{'id': 5, 'car_num': '00가1004', 'name': '김천사', 'enroll': 'O', 'type': '소형', 'parking': 'O', 'in_time': datetime.datetime(1004, 10, 4, 0, 10, 4), 'out_time': None}
{'id': 6, 'car_num': '02가0002', 'name': '내월차', 'enroll': 'X', 'type': '소형', 'parking': 'X', 'in_time': datetime.datetime(2012, 2, 20, 2, 2, 20), 'out_time': datetime.datetime(2012, 3, 30, 3, 3, 3)}
{'id': 7, 'car_num': '81오6247', 'name': '이현명', 'enroll': 'O', 'type': '대형', 'parking': 'X', 'in_time': datetime.datetime(2015, 11, 21, 1, 5), 'out_time': datetime.datetime(2020, 1, 4, 17, 9, 18)}
{'id': 10, 'car_num': '18야1818', 'name': '흠하하', 'enroll': 'X', 'type': '소형', 'parking': None, 'in_time': datetime.datetime(2818, 8, 18, 8, 28, 18), 'out_time': datetime.datetime(2828, 8, 18, 8, 28, 18)}

In [43]:
curs.close()
conn.close()